@import "tailwindcss";
@plugin '@tailwindcss/typography';

@layer base {

    *,
    ::after,
    ::before {
        border-color: #b9b9b9;
    }
}

@theme {
    --color-gray: #6e6e6e;
    --color-darkgray: #555;
    --color-accent: #cb0b0b;
}