@import "tailwindcss";
@plugin '@tailwindcss/typography';

 .animate-slide {
    display: flex;
    animation: slide 10s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }