---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import Title from "../../components/Title.astro";
import { useTranslations } from '../../i18n/utils';

const t = useTranslations('en');
---

<Layout title={t('contact.title')} description={t('contact.description')}>
    <Container>
        <Title title="Contact" subtitle={t('contact.subtitle')} />
        <div class="mx-auto mt-8 px-4 py-6 bg-white rounded-lg border">
            <p class="mb-4 text-center">{t('contact.message')}</p>
            <div class="flex items-center justify-center gap-2 ">
                <span class="font-semibold">{t('contact.email')}</span>
                <a href="mailto:contact@ehor.jp" class="text-blue-500 underline">contact@ehor.jp</a>
            </div>
        </div>
    </Container>
</Layout>