---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Skill from "../components/Skill.astro";
import Title from "../components/Title.astro";
import Section from "../components/Section.astro";
---

<Layout title="About" description="Ehor.についての紹介です。" />
<Container>
    <Title title="About" />

    <div class="mt-10">
        <h3 class="text-2xl font-bold border-l-4 pl-2 my-4"></h3>
        <Section title="Ehor.について" />
        <div>
            <div class="mb-2 mx-4">
                <p class="tracking-wide">
                    デザイン、プログラミング、映像制作など幅広い分野で活動しています。
                </p>
            </div>
        </div>
    </div>
    <Section title="スキル" />
    <Skill
        skills={[
            {
                title: "Web開発",
                description:
                    "HTML、CSS、JavaScriptを用いたホームページの制作やReactやNext.js、TailwindCSSを用いてWebアプリの制作経験があります。",
                items: [
                    "HTML",
                    "CSS",
                    "JavaScript",
                    "PHP",
                    "React",
                    "Next.js",
                    "TailwindCSS",
                ],
            },
            {
                title: "デザイン",
                description:
                    "Adobe Illustratorでハガキ、ポスターをデザインしたりCanvaでテンプレートを使わず資料を制作できます。またPowerPointやKeynote、Googleスライドで資料を作ることができます。",
                items: [
                    "Adobe Illustrator",
                    "Figma",
                    "Canva",
                    "Microsoft PowerPoint",
                    "Apple Ketnote",
                    "Googleスライド",
                ],
            },
            {
                title: "映像制作",
                description:
                    "写真のスライドショーなど基本的な動画はもちろん、解説動画、MV制作、YouTubeやテレビのような編集を得意としています。",
                items: [
                    "Adobe Premiere Pro",
                    "Adobe AfterEffect",
                    "Apple FinalCut Pro",
                ],
            },
        ]}
    />
</Container>
