---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import avatar from "../../assets/icon.png";
---

<Layout title="ホーム" description="Ehor.についての紹介です。" />

<div class="min-h-screen flex items-center justify-center tracking-wide">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex justify-center mb-4">
      <Image
        src={avatar}
        alt="Ehorのアバター"
        width={150}
        height={150}
        class="rounded-full select-none"
        format="webp"
        loading="lazy"
      />
    </div>
    <div class="text-center space-y-2 text-white">
      <h2 class="text-4xl sm:text-3xl md:text-4xl lg:text-5xl font-bold my-2">
        Ehor
      </h2>
      <p class="text-sm sm:text-base">16yo</p>
      <p class="text-md md:text-lg">Programming / Movie Creator / Designer</p>
      <div class="py-4">
        <div class="flex justify-center space-x-2 sm:space-x-3 md:space-x-4">
          <a
            href="https://github.com/ehor-developer"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="GitHub"
          >
            <Image
              src="/github.svg"
              alt="GitHubのアイコン"
              class="w-6 h-6 sm:w-5 sm:h-5 md:w-6 md:h-6 opacity-100 duration-300 hover:scale-125 hover:opacity-70"
              width={24}
              height={24}
              loading="lazy"
            />
          </a>
          <a
            href="https://x.com/ehor_developer"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="X"
          >
            <Image
              src="/X.svg"
              alt="Xのアイコン"
              class="w-6 h-6 sm:w-5 sm:h-5 md:w-6 md:h-6 opacity-100 duration-300 hover:scale-125 hover:opacity-70"
              width={24}
              height={24}
              loading="lazy"
            />
          </a>
          <a
            href="https://discord.com/users/1181031266020241432"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Discord"
          >
            <Image
              src="/discord.svg"
              alt="Discordのアイコン"
              class="w-6 h-6 sm:w-5 sm:h-5 md:w-6 md:h-6 opacity-100 duration-300 hover:scale-125 hover:opacity-70"
              width={24}
              height={24}
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
