---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Title from "../components/Title.astro";
import { Icon } from "astro-icon/components";
const links = [
    {
        href: "/contact",
        title: "お問い合わせ",
        description: "お気軽にご連絡ください。",
        icon: "mdi:email",
    },
    {
        href: "https://nuller.jp",
        title: "Nuller開発チーム",
        description: "私が立ち上げたチームの公式サイト",
        icon: "mdi:code",
    },
];
---

<Layout title="Works" description="私のプロジェクト一覧です。">
    <Container>
        <Title title="Menu" subtitle="お探しのものを選択してください。" />
        <div>
            {
                links.map((link) => (
                    <div
                        class="border hover:border-gray transition py-4 px-6 rounded-lg"
                        style="margin-bottom: 1rem;"
                    >
                        <a href={link.href} class="flex items-center gap-4">
                            <Icon class="text-3xl" name={link.icon} />
                            <div>
                                <h3 class="text-xl font-semibold">
                                    {link.title}
                                </h3>
                                <p class="text-xs text-gray">
                                    {link.description}
                                </p>
                            </div>
                        </a>
                    </div>
                ))
            }
        </div>
    </Container>
</Layout>
