---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Title from "../components/Title.astro";
const projects = await Astro.glob("../pages/works/*.md");
---

<Layout title="Works" description="私のプロジェクト一覧です。">
    <Container>
        <Title title="Links" />
        <div>
            <div
                class="border-stone-800 border-2 py-4 px-6 hover:bg-stone-800 rounded-lg"
            >
                <a href="/contact">
                    <h3 class="text-2xl font-semibold">Contact</h3>
                    <p class="text-sm sm:text-base">
                        お問い合わせはこちらからお願いいたします
                    </p>
                </a>
            </div>
        </div>
    </Container>
</Layout>
